<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="utf-8" charset="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>

    <style>
      div { background-color: blue; color: white; width:50%; font-size: 125%; text-align: center; margin: auto; border: 2px solid green; border-radius: 5px; padding: 5px; }
    </style>

    <title>404 - Not Found</title>
  </head>
  <body>
    <br />
    <div>404 - Page or Resource Not Found</div>
  </body>
</html>