<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="utf-8" charset="utf-8" http-equiv="encoding">

    <script src="static/js/three.js"></script>
    <script src="static/js/ColladaLoader.js"></script>
    <script src="static/js/OrbitControls.js"></script>
    <script src="static/js/DDSLoader.js"></script>
    <script src="static/js/libs/meshopt_decoder.js"></script>

    <style>
      body,html{
        display: block;
        background-color: black;
        background-image: url('static/Images/DragonFly.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }

      p.full_screen {
        text-align: center;
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAf0lEQVRIie1VQQ6AMAjb/x9M4IRePICoK7GLB5eQbElpCTAY7j6YRiUPAvvxbNMkN76XIDhSRKCdjhmB494hzzwngcoBIa/eASgisMgTBo4ODqCTAiSFrW6Biv8LfL/I1DbtfDRV9VLgjVFhZp59A4g+7JaM6yULh7IyWUYX2AAPDxz26GjX+gAAAABJRU5ErkJggg==);
        margin: 1px 1px 1px 1px;
        padding: 0;
        width: 15px;
        height: 15px;
      }

      div { color: navy; width: 99%; border: 1px solid navy; -webkit-border-radius: 2px; border-radius: 2px; padding: 4px; margin: 1px; }
      #scene { display: block; position: absolute; margin: 0; width: 100%; height: 100%; }

      .fixed-menu {
        position: fixed;
        z-index: 1;
        display: inline-block;
        background-color: whitesmoke;
        margin: 0px;
        padding: 1px;
        width: 100%;
      }
    </style>

    <!-- Original OBJ source code that inspired this: https://codepen.io/Mamboleoo/pen/PqjGdN -->
    <!-- DAE Examples from: https://github.com/mrdoob/three.js -->
    <title>DAE Viewer (Collada)</title>
  </head>
  <body onload="reset_all()" onresize="resize()">
    <div class="fixed-menu">
      <div>
        <label for="file" style="color: #CE8704; margin: 2px 2px 2px 5px;">DAE:</label>
        <button onclick="show_url()" style="margin: 2px 2px 2px 0;">URL</button>
        <input type="file" id="file_input" name="file" onchange="init()" style="margin: 2px 5px 2px 0;" multiple />
        <label for="file_image_input" style="color: #CE8704; margin: 2px 2px 2px 0;">BG Image:</label>
        <input type="file" id="file_image_input" name="file_image_input" accept="image/png, image/jpeg, image/bmp, image/gif, image/svg+xml" onchange="set_scene_image()" style="margin: 2px 5px 2px 0;" />
        <label for="dae_opacity" style="margin: 2px 2px 2px 0;">Opacity:</label>
        <input type="number" id="dae_opacity" name="dae_opacity" min="0" max="1" step="0.05" value="1" onkeydown="return false" onchange="set_dae_opacity()" style="width: 48px; margin: 2px 5px 2px 0;" />
        <label for="dae_scale" style="margin: 2px 2px 2px 0;">Scale:</label>
        <input type="number" id="dae_scale" name="dae_scale" onkeydown="return false" onchange="set_dae_scale()" min="0.25" max="2" value="1" step="0.25" style="margin: 2px 5px 2px 0; width: 48px;" />
        <button id="reset" onclick="reset_only()" style="vertical-align: middle; color: maroon; width: 55px; margin: 2px 5px 2px 40px;">Reset</button>
        <button id="btn_full_screen" onclick="full_screen()" style="background-color: #d1cefc; vertical-align: middle; width: 22px; margin: 2px 2px 2px 2px; padding: 0;"><p class="full_screen"></p></button>
      </div>
      <div id="url" style="display: none;">
        <label for="url_entry" style="margin: 2px 2px 2px 5px;">URL:</label>
        <input type="text" id="url_entry" name="url_entry" size="90" value="" style="margin: 2px 5px 2px 0;" />
        <button id="btn_load_url" onclick="load_url_file()" style="-webkit-border-radius: 2px; border-radius: 2px; width: 50px; margin: 2px 0 2px 0; padding: 2px;">Load</button>
      </div>
      <div>
        <label style="color: blue; margin: 2px 0 2px 5px;">Rotate :</label>
        <label for="rotation_x" style="color: blue;">X</label>
        <input type="number" id="rotation_x" onchange="rot_x_changed()" min="-20" max="20" value="0" step="1" style="width: 40px; margin: 2px 5px 2px 0;" />
        <label for="rotation_y" style="color: blue;">Y</label>
        <input type="number" id="rotation_y" onchange="rot_y_changed()" min="-20" max="20" value="0" step="1" style="width: 40px; margin: 2px 5px 2px 0;" />
        <label for="rotation_z" style="color: blue;">Z</label>
        <input type="number" id="rotation_z" onchange="rot_z_changed()" min="-20" max="20" value="0" step="1" style="width: 40px; margin: 2px 10px 2px 0;" />
        <label style="margin: 2px 5px 2px 0;"><input type="checkbox" id="wireframe" name="wireframe" onchange="show_wireframe()" />Wireframe</label>
        <label style="margin: 2px 5px 2px 0;"><input type="checkbox" id="shadow" name="shadow" onchange="show_shadow()" />Shadow</label>
        <label for="directional_light_intensity" style="margin: 2px 2px 2px 0;">DLi:</label>
        <input type="number" id="directional_light_intensity" name="directional_light_intensity" min="0" max="2" step="0.05" value="0.8" onkeydown="return false" onchange="set_directional_light_intensity()" style="width: 50px; margin: 2px 5px 2px 0;" />
        <label for="spot_light_intensity" style="margin: 2px 2px 2px 0;">SLi:</label>
        <input type="number" id="spot_light_intensity" name="spot_light_intensity" min="0" max="2" step="0.05" value="0" onkeydown="return false" onchange="set_spot_light_intensity()" style="width: 50px; margin: 2px 5px 2px 0;" />
        <label for="spot_light_color" style="margin: 2px 0 2px 0;">SL:</label>
        <input type="color" id="spot_light_color" name="spot_light_color" onchange="set_spot_light_color()" style="vertical-align: middle; background: none; padding: 0; width: 23px; margin: 0 5px 0 0;" />
        <label for="hemisphere_light_color" style="margin: 2px 0 2px 0;">HL:</label>
        <input type="color" id="hemisphere_light_color" name="hemisphere_light_color" onchange="set_hemisphere_light_color()" style="vertical-align: middle; background: none; padding: 0; width: 23px; margin: 0 5px 0 0;" />
        <label for="ambient_light_color" style="margin: 2px 0 2px 0;">AL:</label>
        <input type="color" id="ambient_light_color" name="ambient_light_color" onchange="set_ambient_light_color()" style="vertical-align: middle; background: none; padding: 0; width: 23px; margin: 0 5px 0 0;" />
        <label for="back_color" style="margin: 2px 0 2px 0;">BG:</label>
        <input type="color" id="back_color" name="back_color" onchange="set_back_color()" style="vertical-align: middle; background: none; padding: 0; width: 23px; margin: 0 2px 0 0;" />
      </div>
    </div><br />

    <div style="border: 0; margin: 0; padding: 0;">
      <canvas id="scene">
        Your browser does not support HTML5 canvas tag
      </canvas>
    </div>

    <script>
      function show_url() {
        if (url_displayed) {
          document.getElementById('url').style.display = 'none';
          url_displayed = false;
        } else {
          document.getElementById('url').style.display = 'block';
          url_displayed = true;
        }
      }

      function load_url_file() {
        let url = document.getElementById('url_entry').value.trim();

        if (url != '') { selected_url_file = url; url_loading = true; init(); }
      }

      function initialize_event_listeners() {
        var cnvs = document.getElementById('scene');

        cnvs.addEventListener( 'mousedown', (event) => { mouse_rotation = true; }, false);
        cnvs.addEventListener( 'mouseup', (event) => { mouse_rotation = false; }, false);
      }

      function resize() {
        if (camera) {
          renderer.setSize( window.innerWidth, window.innerHeight );

          camera.aspect = window.innerWidth / window.innerHeight;
          camera.updateProjectionMatrix();

          ww = window.innerWidth;
          wh = window.innerHeight;
        }
      }

      function full_screen() {
        if (document.requestFullscreen) {
          document.requestFullscreen = false;
          document.exitFullscreen();
        } else {
          document.requestFullscreen = true;
          document.body.requestFullscreen();
        }
      }
    </script>

    <script>
      var ktx2_loader;
      var renderer, scene, camera, controls, dae_obj;
      var ambientLight, hemisphereLight, spotLight, directionalLight;
      var shadowMesh, shadowMaterial;
      var ww = window.innerWidth,	wh = window.innerHeight;
      var mouse_rotation = false, reset_rotation = false, events_initialized = false;
      var rot_x = 0, rot_y = 0, rot_z = 0;
      var previous_dae_scale = '1';
      var selected_dae_file, selected_url_file = '', url_displayed, url_loading;
      var texture_files_png, texture_files_jpg, texture_files_dds, texture_files_ktx2;

      // Manager from ThreeJs to track a loader and its status
      var manager = new THREE.LoadingManager();

      // Loader for selected file from Three.js
      const dae_loader = new THREE.ColladaLoader( manager );

      const dds_loader = new THREE.DDSLoader( manager );
      manager.addHandler( /\.dds$/i, dds_loader );

      function set_back_color() {
        scene.background = null;
        document.getElementById('file_image_input').value = "";
        document.body.style.backgroundColor = document.getElementById('back_color').value;
      }

      function set_dae_opacity() {
        if (dae_obj) {
          dae_obj.traverse( function( child ) {
            // This allow us to check if the children is an instance of the Mesh constructor
          	if (child instanceof THREE.Mesh) {
              child.material.opacity = document.getElementById('dae_opacity').value;
              if (document.getElementById('shadow').checked) {
                shadowMaterial.opacity = child.material.opacity * document.getElementById('spot_light_intensity').value;
              }
    		    }
          });
        }
      }

      function set_scene_image() {
        fii = document.getElementById('file_image_input');

        if (fii.files[0]) {
          document.getElementById('back_color').value = "0x000000";
          document.body.style.backgroundColor = document.getElementById('back_color').value;

          if (fii.files[0].type.startsWith('image/')) {
            const loader = new THREE.TextureLoader();
            loader.load( URL.createObjectURL( fii.files[0] ) , function ( texture ) {
              scene.background = texture;
            });
          } else {
            fii.value = "";
            scene.background = null;
          }
        } else {
          scene.background = null;
        }
      }

      function set_ambient_light_color() {
        let al_colors = document.getElementById('ambient_light_color').value; // hex format '#rrggbb'

        ambientLight.color = {
          'r': parseInt(al_colors.substring(1, 3), 16) / 10,
          'g': parseInt(al_colors.substring(3, 5), 16) / 10,
          'b': parseInt(al_colors.substring(5), 16) / 10
        };
      }

      function set_hemisphere_light_color() {
        let hl_colors = document.getElementById('hemisphere_light_color').value; // hex format '#rrggbb'

        hemisphereLight.color = {
          'r': parseInt(hl_colors.substring(1, 3), 16) / 10,
          'g': parseInt(hl_colors.substring(3, 5), 16) / 10,
          'b': parseInt(hl_colors.substring(5), 16) / 10
        };

        if (hl_colors == '#000000') {
          hemisphereLight.groundColor = { 'r': 0, 'g': 0, 'b': 0 }}
        else {
          hemisphereLight.groundColor = { 'r': 9.2, 'g': 9.2, 'b': 9.2 }}
      }

      function set_spot_light_color() {
        let sl_colors = document.getElementById('spot_light_color').value; // hex format '#rrggbb'

        if (sl_colors == '#000000') { spotLight.color = { 'r': 1, 'g': 1, 'b': 1 }; }
        else {
          spotLight.color = {
            'r': parseInt(sl_colors.substring(1, 3), 16) / 250,
            'g': parseInt(sl_colors.substring(3, 5), 16) / 250,
            'b': parseInt(sl_colors.substring(5), 16) / 250
          };
        }
      }

      function set_spot_light_intensity() {
        spotLight.intensity = parseFloat( document.getElementById('spot_light_intensity').value );
        if (document.getElementById('shadow').checked) { shadowMaterial.opacity = spotLight.intensity * document.getElementById('dae_opacity').value; }
      }

      function set_directional_light_intensity() {
        directionalLight.intensity = parseFloat( document.getElementById('directional_light_intensity').value );
      }

      function set_dae_scale() {
        let current_dae_scale = document.getElementById('dae_scale').value;
        // There appears to be a pattern and this could possibly be further simplified and range expanded
        switch (previous_dae_scale) {
          case '0.25':
            dae_obj.scale.multiplyScalar( 2 );
            break;
          case '0.5':
            dae_obj.scale.multiplyScalar( (current_dae_scale == '0.75') ? 3/2 : 1/2 );
            break;
          case '0.75':
            dae_obj.scale.multiplyScalar( (current_dae_scale == '1') ? 4/3 : 2/3 );
            break;
          case '1':
            dae_obj.scale.multiplyScalar( (current_dae_scale == '1.25') ? 5/4 : 3/4 );
            break;
          case '1.25':
            dae_obj.scale.multiplyScalar( (current_dae_scale == '1.5') ? 6/5 : 4/5 );
            break;
          case '1.5':
            dae_obj.scale.multiplyScalar( (current_dae_scale == '1.75') ? 7/6 : 5/6 );
            break;
          case '1.75':
            dae_obj.scale.multiplyScalar( (current_dae_scale == '2') ? 8/7 : 6/7 );
            break;
          default:
            dae_obj.scale.multiplyScalar( 7/8 );
            break;
        }

        previous_dae_scale = current_dae_scale;
      }

      function rot_x_changed() { rot_x = parseFloat(document.getElementById('rotation_x').value) / 1000; }
      function rot_y_changed() { rot_y = parseFloat(document.getElementById('rotation_y').value) / 1000; }
      function rot_z_changed() { rot_z = parseFloat(document.getElementById('rotation_z').value) / 1000; }

      function init(){
        // Loaded file
        var fi = document.getElementById('file_input');

        if (scene != null) {
          scene.remove.apply( scene, scene.children );

          if (shadowMesh) { shadowMesh = null; }

          // Reset all values
          reset_all( false, true );
        }

        if (!fi.files) { return; }

        selected_dae_file = null;
        texture_files_jpg = [];
        texture_files_png = [];
        texture_files_ktx2 = [];
        texture_files_dds = [];
        enable_disable( true );

        if (!url_loading) {
          // Include check for JPG/PNG, KTX2 and DDS (DirectDraw Surface container file format)
          for (let i = 0; i < fi.files.length; i++) {
            if (fi.files[i].name.toUpperCase().endsWith('.DAE')) { selected_dae_file = fi.files[i]; }
            else if (fi.files[i].name.toUpperCase().endsWith('.PNG')) { texture_files_png.push( fi.files[i] ); }
            else if (fi.files[i].name.toUpperCase().endsWith('.JPG')) { texture_files_jpg.push( fi.files[i] ); }
            else if (fi.files[i].name.toUpperCase().endsWith('.KTX2')) { texture_files_ktx2.push( fi.files[i] ); }
            else if (fi.files[i].name.toUpperCase().endsWith('.DDS')) { texture_files_dds.push( fi.files[i] ); }
          };

          if (!selected_dae_file) { return; }

          selected_url_file = '';
        } else {
          // Reset the file input
          document.getElementById('file_input').value = '';
          url_loading = false;
        }

        document.body.style.backgroundImage = "none";
        enable_disable( false );

        scene = new THREE.Scene();
        dae_obj = new THREE.Object3D();

        if (!events_initialized) { initialize_event_listeners(); events_initialized = true; }

        // Add grid helper for use with Orbit Controls
        //scene.add(new THREE.GridHelper(200, 200, "yellow"));

        // Add axes helper
        //scene.add( new THREE.AxesHelper( 50 ) );

        camera = new THREE.PerspectiveCamera( 45, ww/wh, 0.1, 2000 );
        camera.position.set( 0, 0, 250 );
        scene.add( camera );

        // Add AmbientLight to the scene
        ambientLight = new THREE.AmbientLight(0x000000, 0.05);
        ambientLight.position.set( 0, 0, 250 );
        scene.add( ambientLight );

        // Add HemisphereLight to the scene
        hemisphereLight = new THREE.HemisphereLight( 0x000000, 0x000000, 0.05 );
        hemisphereLight.position.set( 0, 10, 0 );
        scene.add( hemisphereLight );

        // The following provides a plane that can receive a shadow but is also a sort of
        // "liquid background" that an object will go through at a certain distance.
        // This plane is set in the background.
        shadowMaterial = new THREE.ShadowMaterial();
        shadowMaterial.opacity = 0.1;
        shadowMesh = new THREE.Mesh( new THREE.PlaneGeometry( ww, wh ), shadowMaterial );
        shadowMesh.position.set( 0, 0, -1500 );
        shadowMesh.scale.set( 2.5, 2.5, 1 );
        shadowMesh.receiveShadow = true;

        // Add SpotLight to the scene
        spotLight = new THREE.SpotLight( 0xFFFFFF, 0, 0, Math.PI/4 );
        spotLight.position.set( 150, 0, 250 );
        spotLight.target.position.set( 0, 0, -1500 );
        spotLight.castShadow = true;

        spotLight.shadow.mapSize.width = 1024;
        spotLight.shadow.mapSize.height = 1024;

        spotLight.shadow.camera.near = 10;
        spotLight.shadow.camera.far = 2000;
        spotLight.shadow.camera.fov = 10;

        scene.add( spotLight );
        scene.add( spotLight.target );

        // Add DirectionalLight to the camera
        directionalLight = new THREE.DirectionalLight( 0xFFFFFF, 0.8 );
        directionalLight.position.set( 0, 0, 250 );
        directionalLight.lookAt(new THREE.Vector3( 0, 0, 0 ));
        camera.add( directionalLight );

        controls = new THREE.OrbitControls(camera, renderer.domElement);

        // Load the dae file
        if (selected_dae_file) {
          loadFile();
        } else {
          loadURLFile();
        }
      }

      function loadFile(){
        // Launch loading of the selected file, addFileInScene is the callback when it's ready
        dae_loader.load( URL.createObjectURL( selected_dae_file ), addFileInScene );
      }

      function addFileInScene( object ){
        if (selected_dae_file) {
          dae_loader.load( URL.createObjectURL( selected_dae_file ), ( collada ) => {
            // Go through all children of the loaded object and search for a Mesh
            collada.scene.traverse( function( child ) {
              // This allow us to check if the children is an instance of the Mesh constructor
          	  if (child instanceof THREE.Mesh) {
                child.geometry.computeVertexNormals();

                // Enable transparency for the Opacity control and enable shadows
                child.material.opacity = 1;
                child.material.transparent = true;
                child.material.skinning = true;
                child.castShadow = true;
                child.receiveShadow = true;

                if (texture_files_ktx2.length > 0) {
                  texture_files_ktx2.forEach( file => {
                    ktx2_loader.load( URL.createObjectURL( file ) , function( texture ) {
                      texture.encoding = THREE.sRGBEncoding;
                      texture.wrapS = THREE.RepeatWrapping;
                      texture.wrapT = THREE.RepeatWrapping;
                      texture.magFilter = THREE.NearestFilter;

                      // Apply texture
                      child.material.map = texture;
                      child.material.needsUpdate = true;
                    });
                  });
                } else if (texture_files_png.length > 0 || texture_files_jpg.length > 0) {
                  let files = (texture_files_png.length > 0) ? texture_files_png : texture_files_jpg;

                  files.forEach( file => {
                    let loader = new THREE.TextureLoader();
                    loader.load( URL.createObjectURL( file ) , function( texture ) {
                      texture.encoding = THREE.sRGBEncoding;
                      texture.wrapS = THREE.RepeatWrapping;
                      texture.wrapT = THREE.RepeatWrapping;
                      texture.magFilter = THREE.NearestFilter;

                      // Apply texture
                      child.material.map = texture;
                      child.material.needsUpdate = true;
                    });
                  });
                } else if (texture_files_dds.length > 0) {
                  texture_files_dds.forEach( file => {
                    dds_loader.load( URL.createObjectURL( file ), function( texture ) {
                      texture.encoding = THREE.sRGBEncoding;
                      texture.wrapS = THREE.RepeatWrapping;
                      texture.wrapT = THREE.RepeatWrapping;
                      texture.magFilter = THREE.NearestFilter;

                      // Apply texture
                      child.material.map = texture;
                      child.material.needsUpdate = true;
                    });
                  });
                }
    		      }
            });

            dae_obj = collada.scene;
            dae_obj.name = 'local_model';
            dae_obj.scale.multiplyScalar( 80 ); // comment out or modify if needed
            dae_obj.position.set( 0, 0, 0 );

            resize();

            // Add dae model to scene
            scene.add( dae_obj );

            camera.lookAt( dae_obj.position );

          }, function ( xhr ) {
            let today = new Date();
            let time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds() + '.' + today.getMilliseconds();

            if (xhr.loaded == 0 && xhr.total == 0) {
              console.log( '0% loaded - ' + time );
            } else {
              console.log( parseInt(( xhr.loaded / xhr.total * 100 )) + '% loaded - ' + time );
            }
          }, function ( error ) {
            console.log( 'Error loading DAE!' );
            console.log( error );
          });

          render();
        }
      }

      function loadURLFile() {
        if (selected_url_file != '') {
          dae_loader.load( selected_url_file, ( collada ) => {
            // Go through all children of the loaded object and search for a Mesh
            collada.scene.traverse( function( child ) {
              // This allow us to check if the children is an instance of the Mesh constructor
          	  if (child instanceof THREE.Mesh) {
                child.geometry.computeVertexNormals();

                // Enable transparency for the Opacity control and enable shadows
                child.material.opacity = 1;
                child.material.transparent = true;
                child.material.skinning = true;
                child.castShadow = true;
                child.receiveShadow = true;
    		      }
    	      });

            dae_obj = collada.scene;
            dae_obj.name = 'url_model';
            dae_obj.scale.multiplyScalar( 80 ); // comment out or modify if needed
            dae_obj.position.set( 0, 0, 0 );

            resize();

            // Add dae model to scene
            scene.add( dae_obj );

            camera.lookAt( dae_obj.position );

          }, function ( xhr ) {
            let today = new Date();
            let time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds() + '.' + today.getMilliseconds();

            if (xhr.loaded == 0 && xhr.total == 0) {
              console.log( '0% loaded - ' + time );
            } else {
              console.log( parseInt(( xhr.loaded / xhr.total * 100 )) + '% loaded - ' + time );
            }
          }, function ( error ) {
            console.log( 'Error loading DAE from URL!' );
            console.log( error );
          });

          render();
        }
      }

      function show_wireframe() {
        dae_obj.traverse( function ( child ) {
    	    if(child instanceof THREE.Mesh){
            if (document.getElementById('wireframe').checked) {
              child.material.wireframe = true;
            } else {
              child.material.wireframe = false;
            }
    		  }
    	  });
      }

      function show_shadow() {
        if (document.getElementById('shadow').checked) {
          scene.add( shadowMesh );
          shadowMaterial.opacity = document.getElementById('dae_opacity').value * document.getElementById('spot_light_intensity').value;
        } else {
          scene.remove( shadowMesh );
        }
      }

      function render() {
        requestAnimationFrame( render );

        // Reset dae_obj rotational values
        if (reset_rotation) {
          dae_obj.rotation.x = 0;
          dae_obj.rotation.y = 0;
          dae_obj.rotation.z = 0;
          reset_rotation = false;
        }

        // Rotate the dae_obj
        if (!mouse_rotation) {
          dae_obj.rotation.x += rot_x;
          dae_obj.rotation.y += rot_y;
          dae_obj.rotation.z += rot_z;
          if (Math.abs(dae_obj.rotation.x) > 2 * Math.PI ) { dae_obj.rotation.x = 0; }
          if (Math.abs(dae_obj.rotation.y) > 2 * Math.PI ) { dae_obj.rotation.y = 0; }
          if (Math.abs(dae_obj.rotation.z) > 2 * Math.PI ) { dae_obj.rotation.z = 0; }
        }

        controls.update();

        renderer.clear();
      	renderer.render( scene, camera );
      }

      function reset_only() {
        scene.remove( dae_obj );
        reset_all( false, true );

        if (selected_dae_file) {
          loadFile();
        } else {
          loadURLFile();
        }
      }

      function reset_all( values = false, reset = false ) {
        // Reset all current positional and rotational values
        document.getElementById('rotation_x').value = 0;
        document.getElementById('rotation_y').value = 0;
        document.getElementById('rotation_z').value = 0;
        rot_x = 0;
        rot_y = 0;
        rot_z = 0;

        // Reset the background and related values
        document.getElementById('file_image_input').value = "";
        document.getElementById('back_color').value = "0x000000";
        document.getElementById('ambient_light_color').value = "0x000000";
        document.getElementById('hemisphere_light_color').value = "0x000000";
        document.getElementById('spot_light_color').value = "0x000000";
        document.getElementById('spot_light_intensity').value = 0;
        document.getElementById('directional_light_intensity').value = 0.8;

        // Reset the dae opacity and scale values
        document.getElementById('dae_opacity').value = 1;
        document.getElementById('dae_scale').value = 1;
        previous_dae_scale = '1';

        // Reset the wireframe and shadow checkboxes
        document.getElementById('wireframe').checked = false;
        document.getElementById('shadow').checked = false;

        reset_rotation = true;

        // Reset the view
        if (!values && reset) {
          hemisphereLight.position.set( 0, 10, 0 );
          spotLight.position.set( 150, -50, 350 );
          directionalLight.position.set( 0, 0, 250 );
          set_scene_image();
          show_wireframe();
          show_shadow();
          set_back_color();
          set_ambient_light_color();
          set_hemisphere_light_color();
          set_spot_light_color();
          set_spot_light_intensity();
          set_directional_light_intensity();
        }

        if (!values && !reset) {
          // Page (re)loading so reset the file input, URL entry and disable controls
          document.getElementById('file_input').value = '';
          document.getElementById('url_entry').value = '';
          enable_disable( true );
        }
      }

      function enable_disable( disable = false ) {
        document.getElementById('file_image_input').disabled = disable;
        document.getElementById('rotation_x').disabled = disable;
        document.getElementById('rotation_y').disabled = disable;
        document.getElementById('rotation_z').disabled = disable;
        document.getElementById('wireframe').disabled = disable;
        document.getElementById('shadow').disabled = disable;
        document.getElementById('dae_scale').disabled = disable;
        document.getElementById('dae_opacity').disabled = disable;
        document.getElementById('ambient_light_color').disabled = disable;
        document.getElementById('hemisphere_light_color').disabled = disable;
        document.getElementById('spot_light_color').disabled = disable;
        document.getElementById('spot_light_intensity').disabled = disable;
        document.getElementById('directional_light_intensity').disabled = disable;
        document.getElementById('back_color').disabled = disable;
        document.getElementById('reset').disabled = disable;
      }
    </script>

    <script type="module">
      import { KTX2Loader } from './static/js/KTX2Loader.js';

      ktx2_loader = new KTX2Loader( manager );

      renderer = new THREE.WebGLRenderer({ canvas : document.getElementById('scene'), antialias: true, alpha: true });
      renderer.setPixelRatio( window.devicePixelRatio );
      renderer.setSize( ww, wh );
      renderer.outputEncoding = THREE.sRGBEncoding;
      renderer.shadowMap.enabled = true;
      renderer.shadowMap.type = THREE.PCFSoftShadowMap;
      renderer.setClearColor( 0xFFFFFF, 0); // Allow setting the background color
      renderer.autoClear = false;

      // The following can be used instead of the canvas but the window mouse
      // events might be tricky to set due to the presence of the fixed menu.
      // Possibly use Orbit Controls instead.
      //document.body.appendChild( renderer.domElement );

      ktx2_loader.setTranscoderPath('static/js/libs/basis/');
      ktx2_loader.detectSupport(renderer);
      manager.addHandler(/\.basis$/i, ktx2_loader);
    </script>
  </body>
</html>