<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="utf-8" charset="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>

    <style>
      p { text-align:center; color: blue; border: 1px solid lightblue; border-radius: 2px; }
      rdt { color: red; }
    </style>

    <title>iFrame1 Page</title>
  </head>
  <body>
    <p style="font-size: 36px; margin-top: 2px; margin-bottom: 20px; padding-top: 10px; padding-bottom: 10px; border: 0px;">
      &#128515; &#128516; ~ More Emojis ~ &#128517; &#128518;
    </p><br /><br /><br />
    <p style="font-size: 24px; width: 90%; margin: auto;">
      <rdt>Note :</rdt> Most websites will probably not allow their pages to be displayed in an embedded frame
    </p>
  </body>
</html>