<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="utf-8" charset="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>

    <style>
      html { height: 100%;}
      p { text-align:center; color: blue; font-size: 24px; margin: 20px 0 20px 0; }
    </style>

    <title>iFrame2 Page</title>
  </head>
  <body>
    <p style="font-size: 32px; margin-top: 2px;">
      &#128508; &#128509; Emojis &#128510; &#128511;
    </p><br /><br /><br />
    <p>
      This space intentionally contains this message only
    </p>
  </body>
</html>