<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="utf-8" charset="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>

    <style>
      html { height: 100%;}
      p { text-align:center; color: blue; font-size: 24px; margin: 20px 0 20px 0; }
      rdt { color: red; }
    </style>

    <title>iFrame1 Page</title>
  </head>
  <body>
    <p style="font-size: 32px; margin-top: 2px;">
      &#128515; &#128516; Emojis &#128517; &#128518;
    </p><br /><br /><br />
    <p>
      <rdt>Note :</rdt> Most websites restrict embedded frame usage
    </p>
  </body>
</html>